*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
  line-height: 1.6;
  font-family: "DM Sans", sans-serif;
}

img,
picture {
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --white-clr: #fff8f0;
  --dark-clr: #6b4c3b;
  --primary-clr: #ff9aa2;
  --secondary-clr: #ffdac1;
  --accent-clr: #ffd1dc;
  --muted-clr: #fef6e4;

  --fs-xs: 0.88rem;
  --fs-s: 0.95rem;
  --fs-m: 1.1rem;
  --fs-l: 1.45rem;
  --fs-xl: 1.95rem;
  --fs-xxl: 2.28rem;
  --fs-hero: 4rem;

  --fw-regular: 420;
  --fw-medium: 520;
  --fw-semibold: 610;
  --fw-bold: 710;

  --br-s: 6px;
  --br-m: 26px;
  --br-round: 50%;
}

html {
  scroll-behavior: smooth;
}

.section-title {
  padding: 55px 0 90px;
  font-size: var(--fs-xl);
  text-align: center;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--br-s);
  background-color: var(--dark-clr);
}

.wrapper {
  max-width: 1300px;
  padding: 0 20px;
  margin-inline: auto;
}

header {
  background-color: var(--primary-clr);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo-title {
  color: var(--white-clr);
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.nav-link {
  color: var(--white-clr);
  padding: 10px 19px;
  border-radius: var(--br-m);
  font-size: var(--fs-m);
  transition: 0.3s ease;
}

.nav-link:hover {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
}
.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-link {
  width: 100%;
  color: black;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-self: center;
}

.svg-menu,
.svg-close {
  fill: var(--dark-clr);
  transition: fill 0.3s ease;
  width: 100%;
}

.svg-close:hover,
.svg-menu:hover {
  fill: var(--secondary-clr);
}

.hideOnPc {
  display: none;
}

.hero-section {
  background-color: var(--primary-clr);
  min-height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  color: var(--white-clr);
  padding: 20px;
}

.hero-title {
  font-size: var(--fs-hero);
  color: var(--secondary-clr);
  font-family: "Luxurious Script", sans-serif;
  font-weight: var(--fw-bold);
}

.hero-subtitle {
  margin-top: 8px;
  max-width: 85%;
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
  line-height: 1.3;
}

.hero-p {
  max-width: 85%;
  margin: 22px 0 38px;
  font-size: var(--fs-m);
}

.hero-image {
  max-width: 500px;
  justify-self: end;
}

.buttons {
  display: flex;
  gap: 1.6rem;
}

.btn {
  padding: 11px 25px;
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
  border-radius: 20px;
  font-weight: var(--fw-medium);
  border: 2px solid transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover,
.visit-btn {
  color: var(--white-clr);
  border-color: var(--white-clr);
  background-color: transparent;
}

.visit-btn:hover {
  color: var(--primary-clr);
  border-color: var(--secondary-clr);
  background-color: var(--secondary-clr);
}

.about-section {
  background-color: var(--accent-clr);
  padding-block: 120px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.about-img {
  width: 400px;
  height: 400px;
  border-radius: var(--br-round);
  object-fit: cover;
}

.about-p {
  line-height: 25px;
  margin: 45px 0 25px;
  font-size: var(--fs-m);
  text-align: center;
}

.about .section-title {
  padding: 0;
}

.social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  transition: 0.3s ease;
}

.about .social-link {
  color: var(--primary-clr);
  font-size: var(--fs-xl);
}

.about .social-link:hover {
  color: var(--dark-clr);
}

.menu-section {
  background-color: var(--muted-clr);
  color: var(--dark-clr);
  padding: 50px 0 95px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card-img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  width: 100%;
  max-width: 80%;
  margin-inline: auto;
  margin-bottom: 12px;
}

.card {
  text-align: center;
}

.card-title {
  margin: 12px 0;
  font-size: var(--fs-l);
  font-weight: var(--fw-semibold);
}

.card-p {
  font-size: var(--fs-m);
}

.testimonials-section {
  padding: 50px 0 95px;
  background-color: var(--accent-clr);
}

.slider-wrapper {
  overflow: hidden;
  margin: 0 60px 50px;
}

.test-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: var(--br-round);
  margin-bottom: 40px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  user-select: none;
  text-align: center;
  padding: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimonial .name {
  margin-bottom: 15px;
  font-size: var(--fs-m);
}

.feedback {
  line-height: 20px;
}

.testimonials-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: var(--dark-clr);
}

.testimonials-section .swiper-slide-button {
  color: var(--dark-clr);
  transition: 0.3 ease;
  margin-top: -50px;
}

.testimonials-section .swiper-slide-button:hover {
  color: var(--primary-clr);
}

.gallery-section {
  padding: 50px 0 95px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.gallery-item {
  overflow: hidden;
  width: calc(100% / 3 - 32px);
  border-radius: var(--br-s);
}

.gallery-img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.2);
}

.contact-section {
  background-color: var(--muted-clr);
  padding: 50px 0 95px;
}

.contact-wrapper {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-item {
  display: flex;
  gap: 20px;
  margin-block: 20px;
  align-items: center;
}

.contact-item i {
  font-size: var(--fs-m);
}

.form-input {
  width: 100%;
  height: 50px;
  padding-inline: 12px;
  outline: none;
  margin-bottom: 1rem;
  background-color: var(--white-clr);
  border-radius: var(--br-s);
  border: 1px solid var(--primary-clr);
}

.form-input:focus {
  border-color: var(--dark-clr);
}

.contact-form textarea {
  height: 100px;
  padding: 12px;
  resize: vertical;
}

.contact-form {
  max-width: 50%;
}

.contact-form .submit-button {
  background-color: var(--primary-clr);
  padding: 10px 26px;
  font-size: var(--fs-m);
  margin-top: 10px;
  color: var(--white-clr);
  font-weight: var(--fw-medium);
  border: 1px solid var(--accent-clr);
  border-radius: var(--br-m);
  transition: 0.3s ease;
}

.contact-form .submit-button:hover {
  background-color: transparent;
  color: var(--dark-clr);
}

.footer-section {
  background-color: var(--dark-clr);
  padding-block: 20px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: var(--white-clr);
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link {
  font-size: var(--fs-l);
}

.policy-text {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-section .social-link:hover,
.policy-text .policy-link:hover {
  color: var(--primary-clr);
}

@media (max-width: 1058px) {
  .hero-section {
    min-height: 100vh;
  }
  .hero {
    grid-template-columns: 1fr;
    min-height: auto;
    gap: 0;
  }

  .hero-image {
    grid-row: 1/2;
    justify-self: center;
    max-width: 200px;
  }

  .hero-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-subtitle,
  .hero-p {
    max-width: 100%;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    width: 100%;
    height: 100%;
    max-width: 250px;
    justify-self: center;
    aspect-ratio: 1;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-img {
    width: 80%;
  }

  .hideOnMobile {
    display: none;
  }

  .hideOnPc {
    display: block;
  }

  .sidebar .nav-item {
    text-align: center;
  }
  .sidebar .nav-link {
    text-align: center;
    cursor: pointer;
  }
  header {
    position: sticky;
  }

  .gallery-item {
    width: calc(100% / 2 - 30px);
  }

  .gallery-list {
    gap: 30px;
  }

  .contact-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-form {
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .testimonials-section .slider-wrapper {
    margin: 0 0 29px;
  }

  .testimonials-section .swiper-slide-button {
    display: none;
  }

  .gallery-item {
    width: 100%;
  }

  .footer-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}
